<!DOCTYPE html>

<title>Expense Note</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

<!-- Latest compiled and minified JavaScript -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery-1.12.4.js"></script>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
th:src="@{/webjars/jquery/2.1.4/jquery.min.js}" type="text/javascript"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- BootStrap -->
<link href="../static/css/jquery.datetimepicker.css" 
      th:href="@{css/jquery.datetimepicker.css}"/>

<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
      th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
      rel="stylesheet" />

<link href="../static/css/navigationTestStyle.css"
      th:href="@{css/navigationTestStyle.css}" rel="stylesheet" media="screen"/>

<link href="../static/css/jquery.datetimepicker.css"
      th:href="@{css/jquery.datetimepicker.css}" rel="stylesheet" media="screen"/>

<link href="../static/css/datepicker.css"
      th:href="@{css/datepicker.css}" rel="stylesheet" media="screen"/>

<link href="../static/css/select2.min.css"
      th:href="@{css/select2.min.css}" rel="stylesheet" media="screen"/>

<link href="../static/css/tableStyle.css"
      th:href="@{css/tableStyle.css}" rel="stylesheet" media="screen"/>

<!--<link href="../static/css/background.css"
      th:href="@{css/background.css}" rel="stylesheet" media="screen"/>-->

<link href="../static/css/bootstrap-dropselect.css"
      th:href="@{css/bootstrap-dropselect.css}" rel="stylesheet" media="screen"/>

<link href="../static/css/navBarStyle.css"
      th:href="@{css/navBarStyle.css}" rel="stylesheet" media="screen"/>

<link href="../static/css/pageFooterstyle.css"
      th:href="@{css/pageFooterstyle.css}" rel="stylesheet" media="screen"/>

<link href="../static/css/formulaire.css" 
      th:href="@{css/formulaire.css}" rel="stylesheet" media="screen"/>        

<link href="../static/css/formulaireInscription.css" 
      th:href="@{css/formulaireformulaireInscription.css}" rel="stylesheet" media="screen"/>  

<link href="../static/css/checkbox.css" 
      th:href="@{css/checkbox.css}" rel="stylesheet" media="screen"/>  

<!-- Latest compiled and minified CSS -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!--for dataTable-->
<link href="css/bootstrap.min.css" rel="stylesheet"/>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" rel="stylesheet"/>

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>


